
.auth_btn {
    color: white;
    border-radius: 5px;
    padding: 8px;
    background-color: coral;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    right: 2vw;
    top: 50px;
    cursor: pointer;

}
