$primary-color-popup1: #eae5e5;
$font-stack:  'Roboto', sans-serif;

.popup {
    height: 100vh;
    width: 100vw;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    transform: scale(1);
    transition: 0.5s;
}

.popup_content {
    padding: 20px;
    border-radius: 12px;
    background-color: $primary-color-popup1;
    height: 400px;
    width: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    font-family: 'Roboto', sans-serif;

}

.popup_content>button {
    padding: 10px;
    border-radius: 14px;
    border-color: #efefe4;
    font-family:$font-stack;
    background-color: white;
}

.popup_content > button:hover {
    cursor: pointer;
    transform: scale(1.1);
}


