$primary-color-popup1: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(214,233,148,1) 100%);
//$primary-color-popup1: #fefce5;
$font-stack:  'Roboto', sans-serif;

.popup {
    height: 100vh;
    width: 100vw;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    transform: scale(1);
    transition: 0.5s;
}

.popup_content {
    padding: 20px;
    border-radius: 12px;
    background: $primary-color-popup1;
    height: 400px;
    width: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    font-family: 'Roboto', sans-serif;

}

.popup_content>button {

    border-radius: 50%;
    border: none;
    background: rgba(0,0,0,0);
    rotate: 45deg;
    cursor: pointer;
    font-size: 50px;
    color: #be621d;

    //padding: 10px;
    //border-radius: 14px;
    //border-color: #f9f0f0;
    //font-family:$font-stack;
    //background-color: #f9f0f0;
    //border: none;
}

.popup_content > button:hover {
    cursor: pointer;
    transform: scale(1.1);
}


