$font-stack:  'Roboto', sans-serif;
$primary-color: #ffffff;

.auth {
    height: 100vh;
    width: 100vw;
    background-color: rgba(0,0,0,0.4);
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    pointer-events: none;
    opacity: 0;
    transition: 0.5s;


    &__content {
        padding: 20px;
        border-radius: 12px;
        background-color: $primary-color;
        width: 350px;
        height: fit-content;
        top: 50%;
        left: 50%;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        gap: 20px;

    }
}

.title {
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.title > button {
    //height: 30px;
    //width: 30px;
    border-radius: 50%;
    border: none;
    background-color:$primary-color;
    rotate: 45deg;
    cursor: pointer;
    font-size: 50px;
    color: #1F8FDE;

}

.title > button:hover{
    transform: scale(1.3);
}


.auth.active {
    opacity: 1;
    pointer-events: all;
}


.form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    //align-items: center;
    //padding: 40px;
}

.form > input {
    height: 50px;
    border-radius: 5px;
    border: #e1e0d0 2px solid;
    font-size: 20px;
}

.forgotten {
    color: #1F8FDE;
    display: flex;
    gap: 20px;
    flex-direction: column;
}

.forgotten :hover {
     cursor: pointer;
     transform: scale(1.05);
 }

.submitBtn {
    border-radius: 30px;
    background-color: #ec75ac;
    border: none;
    margin: 20px 0 20px 0;
    padding: 10px;
    cursor: pointer;
}

.submitBtn:hover {
    transform: scale(1.05);
}

.writeToSupport {
    display: flex;
    align-items: center;
    gap: 7px;
    color: #cbc8c8;
}

.writeToSupport:hover {
    transform: scale(1.05);
    cursor: pointer;
}

.text  {
    font-family: $font-stack;
}
